name: promote-to-prod

on: [workflow_dispatch]

permissions:
  checks: write
  contents: read
  id-token: write

jobs:
  build:
    steps:
      - name: Promote to production
        uses: qflowsystems/build-publish/promotion@v10.0
        with:
          name-override: 'onlyoffice-documentserver'
